body {
    font: 12px Tahoma;
    background-color: whitesmoke;
    padding: 0px;
}

a.link {
    font: 12px Tahoma;
    color: blue;
    font-weight: normal;
    margin-left: 2px; 
    margin-right: 2px;
}

/* 
 *
 *  navigation elements ( header )
 *
 */

div#header {
    background-color: slategray;
    margin: 0px; 
    margin-left: 50px;
    padding: 5px;
    width: 800px;
    height: 20px;
    text-align: left;
}

a.nav {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    color: black;
}

a.nav:hover {
    color: white;
}

div.content {
    margin-top: 10px;
    margin-left: 50px;
    width: 790px;
    height: 100%;
    border: 1px solid;
    padding: 10px;
    overflow: auto;
}

input#navsearch { 
    float:right; 
    height: 13px;
}

input#navsubmit {
    float:right;
    margin-top: -1px;
    margin-left: 5px;
}

/*
 *
 * card page elements 
 *
 */

img#card_image {
    float: right;
    width: 250px;
}

div#card_info {
    padding: 10px;
    text-align: left;
    width: 500px;
    height: 100%;
    overflow: auto;
}

/* for the card usage graph */

div#usage_placeholder {
    width: 450px;
    height: 200px;
}

div#usage_graph {
    position: relative;
    width: 450px;
    height: 15px;
    border: 1px solid;
    background-color: gray;
}

div.usage_bar {
    float: left;
    display: block;
    position: relative;
    text-align: center;
    height: 15px;
}

div.used_4_bar {
    background-color: #66FF00;
}
div.used_3_bar {
    background-color: #CCFF00;
}
div.used_2_bar {
    background-color: #FF9900;
}
div.used_1_bar {
    background-color: #FF0000;
}

/* for card relation boxes */
div.relation_card {
    text-align: center;
    font-size: 10px;
    border: 1px solid;
    padding: 5px; 
    width: 140px; 
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

img.relation_card_img {
    width: 140px;

}
/*
 *
 * deck page elements 
 *
 */

div.card_group { 
    border: 0px;
    padding: 5px;
    width: 235px;
}

div.sideboard_group { 
    float: right;
    padding: 5px;
    width: 235px;
}

span.card_group_label {
    font-weight: bold;
}

/*
 *
 * card search elements 
 *
 */

input#card_query {
    width: 300px;
    padding: 10px;
    font-family: Verdana;
    font-size: 20px; 
    background-color: #FFFFDD;
    border: 1px inset;
}

span#card_submit {
    padding: 10px;
    width: 50px;
    margin: 0px;
    margin-left: 5px;
    border: 1px solid;
    background-color: lavender;
    font-size: 20px;
    font-family: Verdana;
    text-align: center;
}

span#card_submit:hover {
    background-color: slategrey;
    cursor: pointer;
}

div#autocomplete_choices_box {
    height: 500px;
    width: 320px;
    padding: 0px;
    margin: 0px;
    position: relative;
    border: 1px solid;
    overflow: auto;
}

ul#autocomplete_choices {
    margin: 0px;
    padding: 1px;
}

li.autocomplete_item {
    margin: 0px;
    margin-bottom: 1px;
    padding: 5px;
    height: 55px;
    display: block;
    border: solid 1px;
    vertical-align: text-bottom;
    background-color: lightgray;
}

li.autocomplete_item:hover {
    background-color: #888888; 
    cursor: pointer;
}

li.selected {
    border: solid 1px black;
    background-color: slategrey; 
    color: white;
    cursor: pointer;
}



div#card_box {
    border: 1px solid;
    width: 50%;
    height: auto;
    padding: 10px;
    float: right;
}

a {
  color: #00B7FF;
}

.bolder {
    font-weight: bold;
}

.floatright {
    float: right;
}

.help {
    cursor: help;
}
