div#card_info
    h2 #{archetype_info.name} (
        i= archetype_info.event_type_name 
        )

    hr
    each archetype_card in archetype_cards
        a(href="/card/id/"+archetype_card.id)
            img.archetype_card_img(src="/cards/"+archetype_card.shortname+"/"+archetype_card.image_name)


