!!!
html
  head
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/flot/jquery.flot.js')
    script(src='/javascripts/flot/jquery.flot.pie.min.js')
    script(src='/javascripts/jquery.ui.core.js')
    script(src='/javascripts/jquery.ui.widget.js')
    script(src='/javascripts/jquery.ui.tabs.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/themes/mtgotech/jquery-ui-1.8.18.custom.css')
    link(rel='stylesheet', href='/fancybox/source/jquery.fancybox.css')
    script(src='/fancybox/source/jquery.fancybox.pack.js')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30832140-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    div#header 
        a.nav(href="/events") Events
        a.nav(href="/cards") Cards
        a.nav(href="/archetypes") Archetypes 
        form#nav_search_form(style='margin:0px;padding:0px;display:inline;float:right;')
            input#nav_submit(type='submit',value='Search');
            input#nav_query(type='text',name='query',value='Find Card')
        - // a.nav(href="/",style="float:right;") About
    div#content.content!= body
