!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/flot/jquery.flot.min.js')
  body
    div#header 
        a.nav(href="/") About
        a.nav(href="/events") Events
        a.nav(href="/cards") Cards
        a.nav(href="/archetypes") Archetypes 
        form#nav_search_form(style='margin:0px;padding:0px;display:inline;')
            input#nav_submit(type='submit',value='Search');
            input#nav_query(type='text',name='query',value='Find Card')
    div#content.content!= body
