each result in results
    div.relation_card 
        a.link(href='/card/'+result.id)= result.name  
        br
        span= result.mana
        br
        span= result.card_type
        br
        a.link(href='/card/'+result.id)
            img.relation_card_img(src='/cards/'+result.set_shortname+'/'+result.image_name)
